# All envs from below need to be set for the application to function correctly

# Base site
PUBLIC_SITE_URL=https://

# CouchDB
COUCHDB_ADMIN_AUTH=
COUCHDB_COOKIE_SECRET=

# Analytics
UMAMI_WEBSITE_ID=

# Lightning
NUXT_STRIKE_API_KEY=
STRIKE_WEBHOOK_SECRET=


# ImageKit
IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/bitvocation
